body{
    background-color: black;
    color: whitesmoke;
}
.gameContainer{
    height: 40rem;
    /* margin: auto; */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;                     
    justify-content: space-around;
}

td {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
	height: 200px;
	width: 200px;
	text-align: center;
	vertical-align: middle;
	align-items: center;
	font-size: 70px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

table tr:last-child td {
	border-bottom: 0px;
}
table tr td:last-child {
	border-right: 0px;
}
circle,
path {
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-name: draw;
	animation-name: draw;
}
circle {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	stroke: #ff5e13; /*pink: #f62459*/
}
path {
	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;
	stroke: #d3d3d3; /*mint:; #36dbd7*/
}
@-webkit-keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}
.o {
	-webkit-transform: rotateY(180deg) rotate(-35deg);
	transform: rotateY(180deg) rotate(-35deg);
}
.x path:nth-of-type(2) {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}